/****************************************************************
                Police custom
 ****************************************************************/
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v40-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/open-sans-v40-latin-italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/open-sans-v40-latin-800.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/changa-one-v20-latin-regular.woff2') format('woff2');
}

/*******************************************************
                   HEADER + CSS BASIC
*******************************************************/
html {
    margin: auto;
}

header {
    background-color: #011627;
    padding-top: 5px;
    margin-bottom: 30px;
    text-align: center;
}

header li a {
    color: #fdfffc;
    font-weight: bold;
}

header a h1 {
    color: #2ec4b6;
}

header a h2 {
    color: #e71d36;
    font-family: "Open Sans";
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: #011627;
    background-color: #fdfffc;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #e71d36;
    text-decoration: none;
}

a:hover {
    color: #2ec4b6;
}

h1,
h2,
h3 {
    font-family: 'Changa One', sans-serif;
    font-weight: 400;
}

p {
    line-height: 1.5;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: .75rem;
    margin-top: 0;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

header ul li {
    display: inline;
    padding: 20px;
}

header ul li:first-child {
    margin-left: 0;
    padding-left: 0;
}

header .pagsel {
    color: #2ec4b6;
}

/*************************************************************
            PAGE ACCUEIL
 ************************************************************/
main {
    margin: 0 5%;
}

.realisation {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

figure {
    background-color: #e7e9eb;
    margin: 0;
}

.realisation a {
    color: #011627;
}

figcaption {
    font-size: 1rem;
    padding: 10px;
    overflow: hidden;
}

.realisation li {
    flex-basis: 45%;
    margin: 2.5%;
    flex-grow: 2;
}

.non {
    text-align: left;
}

/***************************************************************
                Page Contact
 *****************************************************************/
.contact ul li {
    list-style-type: none;
    background-repeat: no-repeat;
    background-position: 0 65%;
    padding-left: 5px;
}

.contact ul li:first-child {
    background-image: url("images/phone.png");
}

.contact ul li:last-child {
    background-image: url("images/mail.png");
}

.contact ul li:nth-child(2) {
    background-image: url("images/twitter.png");
}

.contact ul li:nth-child(3) {
    background-image: url("images/facebook.png");
}

/****************************************************************
                Page Information
 ***************************************************************/
main p {
    margin-left: 5%;
    margin-right: 5%;
}

.autophoto {
    border-radius: 360px;
    display: block;
    margin: auto;
}

main h1 {
    text-align: center;
}

/************************************************************************************
                    FOOTER
*********************************************************************************/
footer {
    padding-top: 50px;
    text-align: center;
}

footer img {
    filter: grayscale(100%);
    margin: 20px;
    max-width: 50px;
}

footer ul li {
    display: inline-block;
}

footer img:hover {
    filter: grayscale(0);
    transition: filter 500ms linear;
}

